@font-face {
  font-family: slasho;
  src: url(../assets/notshekhar.ttf);
}
@font-face {
  font-family: acme;
  src: url(../assets/Acme.ttf);
}
@font-face {
  font-family: log;
  src: url(../assets/Lob.ttf);
}
@font-face {
  font-family: mono;
  src: url(../assets/mono.ttf)
}
body{
  font-family: slasho;
  opacity: 0;
  animation: bla 3s forwards;
}
@keyframes bla {
  100%{
    opacity: 1;
  }
}
*{
  background: var(--bg-color);
  transition: all 400ms;
}
#nightmode {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: white;
    outline: none;
    overflow: hidden;
    border-radius: 50%;
}
#nightmode svg{
  background: white;
}
#mode {
    display: none;
    position: absolute;
    top: 23px;
    right: 60px;
    padding: 3px 12px 3px 12px;
    background: var(--color);
    color: var(--bg1-color);
    z-index: 3;
    border-radius: 300px;
    opacity: 0.8;
}
#nightmode:hover + #mode {
    display: block;
}
.title{
  position: relative;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600px;
  font-family: log;
  display: inline-block;
  background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.heading{
  font-family: acme;
  line-height: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--link-color);
  letter-spacing: 2px;
  word-spacing: 3px;
}
.click{
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}
.click:hover{
  text-decoration: underline;
}
.thankyou{
  color: var(--link-color);
  cursor: pointer;
}
.body{
  top: 20px;
  left: 20px;
  position: absolute;
  border: dashed;
  padding: 20px;
  width: calc(100% - 85px);
  margin-bottom: 20px;
  border-color: var(--color);
  color: var(--color);
}
